<h1><%= @post.title %></h1>
<p> <% = @post.content %></p> 

<h3>Category: <%= link_to @post.category.name, category_path(@post.category) if @post.category %></h3>
 <h3> Comment: <% link_to @post.comment.content, comment_path(@post.comment) if @post.comment %></h3>
